<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

<session-factory>
	<property name="hbm2ddl.auto">update</property><!-- 数据库中表由配置文件自动生成，不用手工设计数据库 -->
	<property name="dialect">org.hibernate.dialect.SQLServerDialect</property>
	<property name="connection.url">jdbc:sqlserver://127.0.0.1:1433;databaseName=hiber</property>
	<property name="connection.username">test</property>
	<property name="connection.password">123</property>
	<property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
	
	<property name="show_sql">true</property>
	<mapping resource="univ/entity/Student.hbm.xml" />
	<mapping resource="univ/entity/Teacher.hbm.xml" />
	<!-- 对单个表的测试操作 -->
	<mapping resource="univ/single/Single.hbm.xml" />
	<!-- 对双向一对多配置的测试操作 -->
	<mapping resource="univ/one2many/Customer.hbm.xml" />
	<mapping resource="univ/one2many/Order.hbm.xml" />

</session-factory>

</hibernate-configuration>